@import "tailwindcss";

:root {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	width: 100%;
}
